#chat {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Ensures the chat container takes the full height of the viewport */
}

.messageList {
    flex-grow: 1; /* Takes up the remaining space */
    overflow-y: auto;
    padding: 10px;
    padding-inline: 10%;
}

.messageInput {
    flex-grow: 0; /* Does not grow */
    padding-inline: 10%;
    padding-top: 10px; /* Optional: add some padding to separate the input from the message list */
}
